html, main, body {
  background-color: #202833 !important;
}

h1 {
  color: white !important;
  font-family: arial;
  margin-top: 50px !important;
  margin-bottom: 15px;
  transition: 1s;
}
#p_title {
  font-size: 15px;
  font-family: arial;
  font-weight: bold;
  color: black;
}

input {
  width: 30% !important;
  margin-bottom: 15px !important;
}
#p_content {
  font-size: 12px;
  font-family: monospace;
  color: black;
}

#each_result {
  background-color: white;
  border: solid 1px white;
  padding: 10px 10px 10px 10px;
  margin: 15px 50px 15px 50px;
  box-shadow: 0 0 20px #212121;
  transition: 1s !important;
}
#search_button, #random {
  transform: scale(1,1);
   padding: 5px 65px 5px 65px;
    margin-right: 5px;
}
a, a:hover{
  text-decoration: none !important;
}
a {
  transition: 0.5s;
}
a:hover{
  opacity: 0.8;
}

@media (max-width: 783px) {
  input {
  width: 80% !important;
    margin-bottom: 10px;
  }
  #each_result {
    margin: 10px 20px 10px 20px;
  }
  #search_button, #random {
  transform: scale(0.7,0.7);
}
}
